<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vinmeen</title>

    <!-- fontawesome w3schools -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <!-- link css -->
    <link rel="stylesheet" href="/css/homePage.css">

    <!-- style -->
    <style>
      #name {
	  font-family: "Madimi One", "Noto Sans Tamil", sans-serif;
	  font-style: italic;
	  font-size: 25px;
	  font-weight: 400;

	  color: transparent;
	  animation: fadeName 15s linear infinite forwards;
      }

      @keyframes fadeName {
	  0% {
              color: transparent;
	  }

	  10% {
              color: black;
	  }

	  88% {
              color: black;
	  }

	  98% {
              color: transparent;
	  }
      }
    </style>
</head>

<body>

    <div class="container">

        <!-- /header start -->
        <div class="header">
            <div class="logo">
                <span id="logo"></span>
                <span id="name">VINMEEN</span>
            </div>

            <form action="/search/" method="get">
                <input type="text" name="search" id="search" pattern="^\S(.*\S)?$" required placeholder="search anything..." value="" >
                <label for="search"><i class='fas fa-search'></i></label>
            </form>

            <nav>
                <ul>
                    <li><a href="#categories">Categories</a></li>
                    <li><a href="/signup" target="_self">Sign Up</a></li>
                    <li><a href="/login" target="_self">Login</a></li>
                </ul>
            </nav>
        </div>
        <!-- /header end -->

        <!-- /message box start -->
        <div class="messageBox">
            <div class="message">
                <p>
                    Vinmeen <br>fulfills your temporary needs.
                </p>
            </div>
            <div class="big_logo"></div>
        </div>
        <!-- /message box end -->

        <!-- /count list start -->
        <div class="user_product_count">
            <div class="count_view">
                happy users
                <br>
                <span>512+</span>
            </div>

            <div class="count_view">
                products
                <br>
                <span>1000+</span>
            </div>
        </div>
        <!-- /count list end -->

        <!-- /categories start -->
        <div class="categories" id="categories">
            <h2>Categories</h2>
            <div>
                <div class="items">
                    <a id="image" href="/search/?search=tools+toolkit" style="background-image:url('/images/ToolKit.jpeg');"></a>
                    <span>ToolKits</span>
                </div>
                <div class="items">
                    <a id="image" href="/search/?search=gamming+palystation+ps+xbox+steamduck+gamecd+cd" style="background-image:url('/images/gammingConsole.jpg');"></a>
                    <span>Gaming Consoles</span>
                </div>
                <div class="items">
                    <a id="image" href="/search/?search=vr+headset+meta+quest+vision+pro+oculus" style="background-image:url('/images/VRHeadset.png');"></a>
                    <span>VR Headset</span>
                </div>
                <div class="items">
                    <a id="image" href="/search/?search=drone+dji" style="background-image:url('/images/Drones.jpg')"></a>
                    <span>Drones</span>
                </div>
                <div class="items">
                    <a id="image" href="/search/?search=camera+tripod+lense+lights+batteries" style="background-image:url('/images/Camera.jpg')"></a>
                    <span>Camera and Accessories</span>
                </div>
                <div class="items">
                    <a id="image" href="/search/?search=book" style="background-image:url('/images/books.jpeg')"></a>
                    <span>Books</span>
                </div>
            </div>
        </div>
        <!-- /categories end -->

        <!-- /footer start -->
        <div class="footer">
            <div class="footer_items">
                <ul>
                    <li><span id="action_wrapper"><a href="/login">login</a>/<a href="/signup">sign up</a></span>
                    </li>
                    <li><a href="#search">search</a></li>
                    <li><a href="/howitworks">how it works</a></li>
                    <br>
                    <li><a href="/termsofservice">terms of service</a></li>
                    <li><a href="/about">about</a></li>
                </ul>
            </div>
            <div class="social_media_links">
                <div>find as in social media</div>
                <a href="#" class='fab fa-facebook'></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#"></a>
                <!-- <a href="#" class="fa fa-envelope"></a> -->
            </div>
        </div>
        <!-- /footer end -->
    </div>

    <!-- script start -->
    <script>
      
      //vinmeen name animation
      const name = document.getElementById("name");
      const nameList = ['VINMEEN', 'விண்மீன்'];
      let pointer = 1;
      const nameInterval = setInterval(() => {
          name.innerHTML = nameList[pointer++];
          if (pointer == 2) pointer = 0;
      }, 15000);

      //async namechange
      window.addEventListener('unload', ()=>{clearInterval(nameInterval)});
      
    </script>
    <!-- script end -->
</body>

</html>
